<div class="container-fluid breadcramps mt-4 breadcramps" >
    <br>
    
    <h2> /التوكيلات و القضايا</h2>

</div>
<div class="container-fluid sign sign"  dir="rtl">

    <h2>الرئيسية/ </h2>
    <i class="fa fa-home"></i>
</div>
<div class="container-fluid content mt-4 content" dir="rtl">
    <br>
    <h2> التوكيلات و القضايا</h2>
    <hr>
    <div class="controls text-center">
       <a href="http://localhost:4200/case"><button>القضايا</button></a> 
       <a href="http://localhost:4200/procuration"> <button>  التوكيلات</button></a>
    </div>

</div>