
<ul class="breadcrumb">
    <i class="fa fa-home" ></i>
    <li><a class="grey" href="#">الرئيسيه</a></li>
    <li><a class="grey" href="#" >التوكيلات والقضايا</a></li>
    <li><a class="black" href="#" >القضايا </a></li>

  </ul>

  <style>
    .fa {
    margin-top: 5px;
    margin-right: -10px;
    color: gray;
    }

    a.grey {
    color: grey;
    margin-right: 5px;
    }

    a.black {
    color: black;
    }

    ul.breadcrumb {
      padding: 20px 56px;
      list-style: none;
      background-color: white;
      direction: rtl;
    }
    ul.breadcrumb li {
      display: inline;
      font-size: 18px;
    }
    ul.breadcrumb li+li:before {
      padding: 8px;
      content: "/\00a0";
    }

    ul.breadcrumb li a {
      text-decoration: none;
    }

    </style>
<div class="container-fluid case mt-4 case" dir="rtl">
  <i class="fa-solid fa-magnifying-glass"></i>
  <input [(ngModel)]="name" (keyup)="getCase()" type="text" placeholder=" &#xf002; اسم الموكل " style="font-family:'Arial', FontAwesome;">
<input [(ngModel)]="name" (keyup)="getCase()" type="text" placeholder=" &#xf002; اسم الموكل " style="font-family:'Arial', FontAwesome;">
  <br>
  <br>
</div>

  <div class="container-fluid box " dir="rtl">
  <table mat-table [dataSource]="cases"  class="mat-elevation-z8 mt-5 text-center" dir="rtl">
    <ng-container matColumnDef="#" >
        <th mat-header-cell *matHeaderCellDef class="text-center"> # </th>
        <td mat-cell *matCellDef="let element"> {{element.idCase}} </td>
    </ng-container>

      <ng-container matColumnDef="رقم القضيه">
          <th mat-header-cell *matHeaderCellDef class="text-center"> رقم القضيه
          </th>
          <td mat-cell *matCellDef="let element"> {{element.numbercase}} </td>
          <td>
          </td>
      </ng-container>

      <ng-container matColumnDef="نوع القضية">
          <th mat-header-cell *matHeaderCellDef class="text-center"> نوع القضية
          </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>
      <ng-container matColumnDef="السنة">
          <th mat-header-cell *matHeaderCellDef class="text-center">  السنة

          </th>
          <td mat-cell *matCellDef="let element"> {{element.caseyear}} </td>
      </ng-container>
      <ng-container matColumnDef="اسم الموكل">
          <th mat-header-cell *matHeaderCellDef class="text-center">  اسم الموكل

          </th>
          <td mat-cell *matCellDef="let element"> {{element.client}} </td>
      </ng-container>
      <ng-container matColumnDef="اسم الخصم">
          <th mat-header-cell *matHeaderCellDef class="text-center"> اسم الخصم

          </th>
          <td mat-cell *matCellDef="let element"> {{element.against}} </td>
      </ng-container>
      <ng-container matColumnDef="رقم الملف">
          <th mat-header-cell *matHeaderCellDef class="text-center"> رقم الملف
          </th>
          <td mat-cell *matCellDef="let element"> {{element.numbercase}} </td>
      </ng-container>
      <ng-container matColumnDef="btn">
        <th mat-header-cell *matHeaderCellDef class="text-center">تفاصيل

        </th>
        <td mat-cell *matCellDef="let element"><a [routerLink]="['/case3', element.idCase]" ><i class="fas fa-edit"></i></a></td>
      </ng-container>

      <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let index = index;"[ngClass]="{alternate: index % 2 == 0 }" ></tr>
  </table>
  <br>
</div>
<a href="http://localhost:4200/case2"><button class="btn m-5 px-4 addbtn">اضافة قضية </button></a>
