
nav{
padding-top: 0;
padding-bottom: 0;
}

nav {
    background-color: #173156;
    color:white ;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

}
nav a{
    color: white;
}

i{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.logo{
    background-color: #F76000;
    height: 100%;
}

.logo img{
    width: 200px;
    padding: 20px 40px !important;
}
p{
    font-size: 12px;
}

