<nav class="navbar navbar-expand-sm">
  <div class="container-fluid pe-0">
   
    <div class=" navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex align-items-center ms-4">
          <i class="fa-solid fa-arrow-right-from-bracket fa-sm"></i> 
          <a class="nav-link" href="#">الخروج</a>
        </li>
      </ul>
    </div>


    

    
    <div class="logo d-flex justify-content-center align-items-center">
      <a class=" d-flex align-items-center">
        <img src="../../assets/Images/Kazyon Plus Dark Logo 1.png" class="img-fluid" href="#">
      </a>
    </div>

  </div>
</nav>