<mat-stepper linear #stepper dir="rtl">
  <mat-step [stepControl]="firstFormGroup" [editable]=true>
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>الكود وحالة العقد</ng-template>

        <div class="grid-container">

            <h4 dir="rtl" style="grid-column:  1/ span 2;"> <strong> الكود</strong></h4>

          <div>
            <mat-form-field appearance="legacy">
              <mat-label>كود التشغيل</mat-label>
              <input formControlName="store_code"  (change)="checkCode()" required="true" dir="rtl" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" #input  maxlength="6" matInput>
              <mat-hint  align="end">{{input.value?.length || 0}}/6</mat-hint>
            </mat-form-field>

            <div *ngIf="errorStoreCodeFlag">
              <p class="text-danger">* هذا الكود يوجد بالفعل، يرجى المراجعة</p>
            </div>
          </div>
            <mat-form-field id="SAP" appearance="legacy">
              <mat-label>الساب</mat-label>
              <input ormControlName="sap_code" dir="rtl"  type="text" #SAP  maxlength="8" matInput>
              <mat-hint align="end">{{SAP.value?.length || 0}}/8</mat-hint>
            </mat-form-field>

            <h4 style="grid-column: 1/span 2;" dir="rtl"> <strong> حالة العقد</strong></h4>

            <mat-select id="status" formControlName="status"  [ngClass]="className" (selectionChange)="setClass($event.value)" required dir="rtl" placeholder="الحالة" style="width: 150px; height: 35px; padding: 5px;" disableOptionCentering panelClass="myPanelClass">
                <mat-option *ngFor="let state of constants.states" class="activeContract"  [ngClass]="state.className" [value]="state.name">
                    {{ state.name }}
                </mat-option>

            </mat-select>

        </div>


    </form>
    <div style="width: 90%; margin: auto; margin-top: 20px;">
      <button mat-raised-button color="primary" [disabled]="errorStoreCodeFlag"  class="next-button" mat-button matStepperNext>التالي</button>
    </div>

  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]=true>
      <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>معلومات الفرع</ng-template>
      <div class="grid-container">
      <mat-form-field style="grid-column: 1/2;" appearance="legacy">
        <mat-label>الاسم</mat-label>
        <input formControlName="branch_name" dir="rtl" #branch  maxlength="150" matInput>
        <mat-hint align="end">{{branch.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <mat-form-field style="grid-column: 2/2;" id="address" appearance="legacy">
        <mat-label>العنوان</mat-label>
        <input formControlName="branch_address" required="true" dir="rtl" type="text"  #address  maxlength="150" matInput required="true">
        <mat-hint align="end">{{address.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <div>
        <span style="color:red;">*</span>
        <mat-select required="true" formControlName="governorate" dir="rtl" class="ms-auto" placeholder="المحافظة" style="width: 150px; height: 35px; padding: 5px;" required="true" disableOptionCentering panelClass="myPanelClass">
            <mat-option *ngFor="let gov of constants.governorates"  [value]="gov">
                {{ gov }}
            </mat-option>
      </mat-select>
     </div>

     <div>
      <span style="color:red;">*</span>
      <mat-select formControlName="province" required="true" dir="rtl" placeholder="الإقليم" style="width: 150px; height: 35px; padding: 5px;" required="true" disableOptionCentering panelClass="myPanelClass">
          <mat-option *ngFor="let area of constants.areas" [value]="area">
              {{ area }}
          </mat-option>
      </mat-select>
    </div>

    </div>
      </form>
    <div style="width: 90%; margin: auto; margin-top: 20px;">
      <button mat-raised-button class="back-button" mat-button matStepperPrevious>السابق</button>
      <button mat-raised-button class="next-button" mat-button matStepperNext>التالي</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" [editable]=true>
    <ng-template matStepLabel>التواريخ</ng-template>
    <form [formGroup]="thirdFormGroup">
      <div class="grid-container">
          <mat-form-field>
            <input dir="rtl" (dateInput)="transformDate($event.value, 'السريان')" matInput [matDatepicker]="active"  readonly (focus)="active.open()"placeholder="السريان" required="true">
            <mat-datepicker-toggle matSuffix [for]="active"></mat-datepicker-toggle>
            <mat-datepicker #active></mat-datepicker>
            <mat-hint align="end">يوم/شهر/سنة</mat-hint>
          </mat-form-field>



          <mat-form-field>
            <input dir="rtl" (dateInput)="transformDate($event.value, 'الانتهاء')"  matInput [matDatepicker]="end" readonly (focus)="end.open()" placeholder="الانتهاء">
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end></mat-datepicker>
            <mat-hint align="end">يوم/شهر/سنة</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input dir="rtl"  matInput [matDatepicker]="received" (dateInput)="transformDate($event.value, 'الاستلام')"  readonly (focus)="received.open()" placeholder="الاستلام">
            <mat-datepicker-toggle matSuffix [for]="received"></mat-datepicker-toggle>
            <mat-datepicker #received></mat-datepicker>
            <mat-hint align="end">يوم/شهر/سنة</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input dir="rtl"  matInput [matDatepicker]="beginning" (dateInput)="transformDate($event.value, 'الافتتاح')"  readonly (focus)="beginning.open()" placeholder="الافتتاح">
            <mat-datepicker-toggle matSuffix [for]="beginning"></mat-datepicker-toggle>
            <mat-datepicker #beginning  ></mat-datepicker>
            <mat-hint align="end">يوم/شهر/سنة</mat-hint>
          </mat-form-field>

          <mat-form-field style="grid-column: 1;">
            <input dir="rtl" type="number"  matInput readonly [matDatepicker]="renewal" (dateInput)="transformDate($event.value, 'التجديد')"  (focus)="renewal.open()" placeholder="التجديد">
            <mat-datepicker-toggle matSuffix [for]="renewal"></mat-datepicker-toggle>
            <mat-datepicker #renewal></mat-datepicker>
            <mat-hint align="end">يوم/شهر/سنة</mat-hint>
          </mat-form-field>
      </div>
    </form>
    <div style="width: 90%; margin: auto; margin-top: 20px;">
      <button (click)="finish()" mat-raised-button class="next-button" mat-button>إنهاء</button>
    </div>
  </mat-step>


</mat-stepper>





