.grid-container {
  display: grid;
  grid-gap: 20px;;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  padding: 40px;
  margin: auto;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  grid-row-gap: 30px;;
}

mat-stepper {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

mat-step-header:hover {
  background-color: white;
}

.state{
  width: 132px;
  height: 33px;
  color: white;
  margin: auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  filter: drop-shadow(0px 4px 4px rgba(203, 203, 203, 0.45));
}

.greenClass{
  background-color: #01C165;
}
.redClass{
  background-color: #AE0C00;
}
.orangeClass{
  background-color: #F76000;
}

.next-button {
  background-color: white;
  border-radius: 15px;
  padding: 5px 15px;
  border: 1px solid#0E86D4;
  transition: 0.3s ease-in-out;
  float: left;
}

.back-button {
  background-color: white;
  border-radius: 15px;
  padding: 5px 15px;
  border: 1px solid rgb(50, 173, 50);
  transition: 0.3s ease-in-out;
  float: right;
}

.back-button:hover {
  background-color: rgb(50, 173, 50);
  color:white;
}

.next-button:hover {
  background-color: #0E86D4;
  color: white;
}

.back-btn {
  border: 1px solid #173156;
  margin-top: 20px;
  float: left;
  background-color: white;
  color: black;
  margin-left: 50px;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 5px 15px;
  padding-bottom: 9px;
  font-weight: 900;
  font-size: 20px;
  transition: 0.3s ease-in;
}

.back-btn:hover {
  background-color: #173156;
  color: white;

}


::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: rgba(0,0,0,0.3) !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0,0,0,0.3) !important;
}



::ng-deep .mat-form-field-label {
  color: black  !important;
  font-size: 18px !important;
  font-weight: 900;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
  font-weight: bolder;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
  top: 1.6em !important;
  padding-left: 2px;
  background-color: white;
  width: fit-content;
  font-size: 22px !important;
}

::ng-deep .mat-form-field-label-wrapper {
  overflow:unset !important;

}
