<div class="main-container">
  <div class="rounded-rectangle"></div>

    <img id="main-text" src="../../assets/Images/404 Text.png" alt="">
    <img src="../../assets/Images/greenEclipse.png" alt="" class="green">
    <img src="../../assets/Images/orangeEclipse.png" alt="" class="orange">
    <h1 class="main-text">Oops, This Page Could Not Be Found. </h1>
    <p class="sub-text">The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
    <button [routerLink]="['/contracts']"> <i class="fa-solid fa-arrow-left-long pe-2"></i>
      Back to home</button>
</div>
