
<ul class="breadcrumb">
  <i class="fa fa-home" ></i>
  <li><a class="grey" href="#">الرئيسيه</a></li>
  <li><a class="grey" href="#" >التوكيلات والقضايا</a></li>
  <li><a class="grey" [routerLink]="['/case']" >القضايا </a></li>
  <li><a class="black" href="#" >

    اضافة قضية جديد </a></li>


</ul>

<style>
  .fa {
  margin-top: 5px;
  margin-right: -10px;
  color: gray;
  }

  a.grey {
  color: grey;
  margin-right: 5px;
  }

  a.black {
  color: black;
  }

  ul.breadcrumb {
    padding: 20px 56px;
    list-style: none;
    background-color: white;
    direction: rtl;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
  }

  ul.breadcrumb li a {
    text-decoration: none;
  }

  </style>
  <div class="container-fluid box mt-4 box" dir="rtl">
    <br>

    <div class="in text-center">
<br>
<form [formGroup]="exform" class="form">
  <input [(ngModel)]="case.client" formControlName="client" type="text" class="form-control" placeholder=" اسم الموكل">
  <small *ngIf= "exform.get('client')?.invalid && exform.get('client')?.touched" class="text-danger">يجب ادخال اسم الموكل </small> 

  <input [(ngModel)]="case.against" formControlName="against" type="text" class="form-control" placeholder=" اسم الخصم">
  <small *ngIf= "exform.get('against')?.invalid && exform.get('against')?.touched" class="text-danger">يجب ادخال اسم الخصم </small>

  <br>

  <input [(ngModel)]="case.category" formControlName="category" type="text" class="form-control" placeholder=" نوع القضية">
  <small *ngIf= "exform.get('category')?.invalid && exform.get('category')?.touched" class="text-danger">يجب ادخال نوع القضية </small>

  <input [(ngModel)]="case.numbercase" formControlName="numbercase" type="number" class="form-control" placeholder="رقم القضية"  min="1">
  <small *ngIf= "exform.get('numbercase')?.invalid && exform.get('numbercase')?.touched" class="text-danger">يجب ادخال رقم القضية </small> 
  <br>

  <input [(ngModel)]="case.caseyear" formControlName="caseyear" type="number" class="form-control" placeholder="السنة " min="2000" max="2022" >
  <small *ngIf= "exform.get('caseyear')?.invalid && exform.get('caseyear')?.touched" class="text-danger">يجب ادخال السنة</small> 


  <input [(ngModel)]="case.filenumber" formControlName="filenumber" type="number" class="form-control" placeholder="رقم الملف"  min="1">
  <small *ngIf= "exform.get('filenumber')?.invalid && exform.get('filenumber')?.touched" class="text-danger">يجب ادخال رقم الملف </small> 
  <br>

  <input [(ngModel)]="case.area" formControlName="area" type="text" class="form-control" placeholder=" الدائرة">
  <small *ngIf= "exform.get('area')?.invalid && exform.get('area')?.touched" class="text-danger"> يجب ادخال الدائرة </small> 

  <input [(ngModel)]="case.clientstat" formControlName="clientstat" type="text" class="form-control" placeholder=" صفة الموكل">
  <small *ngIf= "exform.get('clientstat')?.invalid && exform.get('clientstat')?.touched" class="text-danger">يجب ادخال صفة الموكل </small> 
  <br>
  <input [(ngModel)]="case.againststat" formControlName="againststat" type="text" class="form-control" placeholder=" صفة الخصم">
  <small *ngIf= "exform.get('againststat')?.invalid && exform.get('againststat')?.touched" class="text-danger">يجب ادخال صفة الخصم </small>
<br>

            <div class="container-fluid box mt-4 inner_box">
              <button class="btn m-5 px-4 pdfbtn" ><i class="fas fa-file-pdf"></i></button>
             </div>
             <br>



  

<button (click)="addCase()" class="btn m-5 px-4 savebtn" [disabled]="exform.invalid">حفظ</button>
<button class="btn m-2 px-4 ignorebtn"  [routerLink]="['/case']">تجاهل</button>
