<div class="container-fluid box mt-4 box" dir="rtl">
    <br>
    <h2>اضافة قضية جديد </h2>
    <hr>
    <div class="in text-center">

             <input type="text"  placeholder="اسم الموكل" > 

              <input type="text" placeholder="اسم الخصم"><br>

            <input type="text" placeholder="نوع القضية"> 

            <input type="text" placeholder="رقم القضية "><br>

            <input type="text" placeholder="  السنة">
            <input type="text" placeholder="رقم  الملف"><br>
            <button class="btn m-5 px-4 pdfbtn" ><i class="fas fa-file-pdf"></i></button>
            

    
    </div>
</div>    

<button class="btn m-5 px-4 savebtn">حفظ</button>
<button class="btn m-5 px-4 ignorebtn">  تجاهل</button>