<div class="container-fluid case mt-4 case" dir="rtl">
    <input type="text" placeholder=" اسم الموكل " >
    <i class="fa-solid fa-magnifying-glass"></i>

  <br>
  <br>
  </div>    
  <div class="container-fluid case2 mt-4 case2">
    <br>
    <h2>التوكيلات</h2>
    <hr>
  </div>
  <div class="container-fluid box mt-4 " dir="rtl">
  
  <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8 mt-5 text-center" dir="rtl"> 
    <ng-container matColumnDef="#" >
        <th mat-header-cell *matHeaderCellDef class="text-center"> # </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
      <ng-container matColumnDef="اسم الموكل">
          <th mat-header-cell *matHeaderCellDef class="text-center">اسم الموكل  
          </th>
          <td mat-cell *matCellDef="let element"> {{element.clientname}} </td>
      </ng-container>
      <ng-container matColumnDef="رقم التوكيل">
          <th mat-header-cell *matHeaderCellDef class="text-center">رقم التوكيل    
          </th>
          <td mat-cell *matCellDef="let element"> {{element.procurationnum}} </td>
      </ng-container>
      <ng-container matColumnDef="السنة">
          <th mat-header-cell *matHeaderCellDef class="text-center">السنة
             
          </th>
          <td mat-cell *matCellDef="let element"> {{element.year}} </td>
      </ng-container>
      <ng-container matColumnDef="مكتب التوثيق">
          <th mat-header-cell *matHeaderCellDef class="text-center">مكتب التوثيق
              
          </th>
          <td mat-cell *matCellDef="let element"> {{element.regoffice}} </td>
      </ng-container>
      <ng-container matColumnDef="رقم التوكيل بالمكتب">
          <th mat-header-cell *matHeaderCellDef class="text-center">رقم التوكيل بالمكتب
              
          </th>
          <td mat-cell *matCellDef="let element"> {{element.procurationoffice}} </td>
      </ng-container>

  
      
      
      <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let index = index;"[ngClass]="{alternate: index % 2 == 0 }" ></tr>
  </table>
  
</div>
<a href="http://localhost:4200/procuration1"><button class="btn m-5 px-4 addbtn">اضافة توكيل جديد</button></a>