<ul class="breadcrumb">
  <i class="fa fa-home "  ></i>
  <li><a class="grey" href="#">الرئيسيه</a></li>
  <li><a class="grey" href="#" >التوكيلات والقضايا </a></li>
  <li><a class="grey" [routerLink]="['/procuration']"  >التوكيلات  </a></li>
  <li><a class="black"  >  #{{proc.id}}   </a></li>

</ul>

<style>
  .fa {
  margin-top: 5px;
  margin-right: -10px;
  color: gray;
  }

  a.grey {
  color: grey;
  margin-right: 5px;
  }

  a.black {
  color: black;
  }

  ul.breadcrumb {
    padding: 20px 56px;
    list-style: none;
    background-color: white;
    direction: rtl;

  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
  }

  ul.breadcrumb li a {
    text-decoration: none;
  }

  </style>
  <div class="container-fluid box mt-4 box" dir="rtl">
    <br>
<br>
    <div class="in text-center">

      <form [formGroup]="exform" class="form">
        <div class="grid2">
          <div class="grid_item">
          <label class="label">اسم الموكل
            <span class="required-asterisk" >*</span>
          </label>
        <input [(ngModel)]="proc.client_name" formControlName="client_name" type="text" class="form-control" placeholder=" اسم الموكل" (keypress)="letterOnly($event)" maxlength="150">
        <!-- <small *ngIf= "exform.get('client_name')?.invalid && exform.get('client_name')?.touched" class="text-danger">يجب ادخال اسم الموكل </small>  -->

      </div>
      <div  class="grid_item">
        <label class="label"> السنة
          <span class="required-asterisk">*</span>
        </label>
        <input id="date"  [ngModel] ="proc.year | date:'yyyy-MM-dd'" formControlName="year" type='text' class="form-controll"  onfocus="(this.type='date')" (keydown)="false">
       <!-- <small *ngIf= "exform.get('year')?.invalid && exform.get('year')?.touched" class="text-danger">يجب ادخال السنة</small> -->
      </div>
      <div class="grid_item">
        <label class="label"> رقم التوكيل
          <span class="required-asterisk">*</span>
        </label>
        <input [(ngModel)]="proc.procuration_number" formControlName="procuration_number" type="number" class="form-control"   min="1"  (keypress)="!isNumberKey($event)"    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
               type = "number"
               maxlength = "6">
       </div>
      <div class="grid_item">
        <label class="label"> مكتب التوثيق
          <span class="required-asterisk">*</span>
        </label>
        <input [(ngModel)]="proc.office" formControlName="office" type="text" class="form-control" (keypress)="letterOnly($event)" maxlength="150">
        </div>
      <div class="grid_item">
        <label class="label"> رقم التوكيل بالمكتب
          <span class="required-asterisk">*</span>
        </label>
        <input [(ngModel)]="proc.office_procuration_number" formControlName="office_procuration_number" type="number" class="form-control"  min="1"  (keypress)="!isNumberKey($event)"     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
               type = "number"
               maxlength = "6">
        </div>
      </div>
      </form>
  <br>
<!--  <label class="error" [hidden]="!exform.invalid">يرجي ادخال البيانات كاملة</label>-->
  <br>
  <p class="pdf-title">الملحقات</p>
  <div class="container-fluid box2 mt-4" dir="rtl">
    <br>
  <label for="file-upload" class="custom-file-upload">
    <i class="fas fa-file-pdf"></i>

</label>
 <input id="file-upload" type="file"  accept="application/pdf" (change)="onChange($event)" multiple>

 <button [hidden]="!this.proc.hasAttachment" class="btn m-5 px-4 savebtn"> <a [href]="downloadUrl"> تحميل الملفات</a></button>
 <div class="grid">
 <div *ngFor="let document of documentList; let i = index">

<div class="pdf-file-div">
  <i class="fa-solid fa-file-pdf " id="pdf">
    <i class="fa-solid fa-x" id="pdf-x" (click)="remove(i)">

    </i>
  </i>
  <p>{{document.name}}</p>
</div>
</div>

</div>
<br>
</div>

<br>
    </div>
</div>
<button class="btn m px-4 ignorebtn" [routerLink]="['/procuration']">  تجاهل</button>

        <button (click)="onSave()" class="btn m-2 px-4 savebtn" [disabled]="exform.invalid">حفظ</button>

        
