<ul class="breadcrumb">
  <i class="fa fa-home "  ></i>
  <li><a class="grey" href="#">الرئيسيه</a></li>
  <li><a class="grey" href="#" >التوكيلات والعقود </a></li>
  <li><a class="grey" href="#" >التوكيلات  </a></li>
  <li><a class="grey" href="#" >   اضافة توكيل جديد   </a></li>
  <li><a class="black" href="#" >   توكيل 234646#  </a></li>


</ul>

<style>
  .fa {
  margin-top: 5px;
  margin-right: -10px;
  color: gray;
  }

  a.grey {
  color: grey;
  margin-right: 5px;
  }

  a.black {
  color: black;
  }

  ul.breadcrumb {
    padding: 20px 56px;
    list-style: none;
    background-color: white;
    direction: rtl;
    
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
  }

  ul.breadcrumb li a {
    text-decoration: none;
  }

  </style>
  <div class="container-fluid box mt-4 box" dir="rtl">
    <br>
<br>
    <div class="in text-center">

             <input type="text" [(ngModel)]="proc.client_name" > 
             <input type="text" [(ngModel)]="proc.procuration_number"><br>
             <input type="text" [(ngModel)]="proc.office">
             <input type="text"[(ngModel)]="proc.office_procuration_number"> <br>
              <input type="text" [(ngModel)]="proc.year">
             <br>
            <button class="btn m-5 px-4 pdfbtn" ><i class="fas fa-file-pdf"></i></button>
             
    </div>
</div>    


        <button (click)="updateProcurartion()" class="btn m-5 px-4 savebtn">حفظ</button>
        <button class="btn m-5 px-4 ignorebtn">  تجاهل</button>
    