<ul class="breadcrumb">
  <i class="fa fa-home "  ></i>
  <li><a class="grey" href="#">الرئيسيه</a></li>
  <li><a class="grey" href="#" >التوكيلات والعقود </a></li>
  <li><a class="grey" href="#" >التوكيلات  </a></li>
  <li><a class="black" href="#" >   اضافة توكيل جديد   </a></li>

</ul>

<style>
  .fa {
  margin-top: 5px;
  margin-right: -10px;
  color: gray;
  }

  a.grey {
  color: grey;
  margin-right: 5px;
  }

  a.black {
  color: black;
  }

  ul.breadcrumb {
    padding: 20px 56px;
    list-style: none;
    background-color: white;
    direction: rtl;
    
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
  }

  ul.breadcrumb li a {
    text-decoration: none;
  }

  </style>
  <div class="container-fluid box mt-4 box" dir="rtl">
    <br>
  
 
    <div class="in text-center">
<br>

  <input [(ngModel)]="procuration.client_name" type="text"  placeholder="اسم الموكل" >

              <input [(ngModel)]="procuration.year" type="text" placeholder="السنة"><br>

            <input  [(ngModel)]="procuration.procuration_number" type="text" placeholder="رقم التوكيل"> 

            <input  [(ngModel)]="procuration.office" type="text" placeholder="مكتب التوثيق "><br>

            <input   [(ngModel)]="procuration.office_procuration_number"type="text" placeholder="رقم التوكيل بالمكتب">
            <button class="btn  px-4 pdfbtn" ><i class="fas fa-file-pdf"></i></button>
            

    
    </div>
</div>    


        <button class="btn m-2 px-4 ignorebtn">  تجاهل</button>
        <button (click)="addProcurartion()" class="btn m-2 px-4 savebtn">حفظ</button>

    