<ul class="breadcrumb">
  <i class="fa fa-home "  ></i>
  <li><a class="grey" href="#">الرئيسيه</a></li>
  <li><a class="grey" href="#" >التوكيلات والقضايا </a></li>
  <li><a class="grey" [routerLink]="['/procuration']"  >التوكيلات  </a></li>
  <li><a class="black" href="#" >   اضافة توكيل جديد   </a></li>

</ul>

<style>
  .fa {
    margin-top: 5px;
    margin-right: -10px;
    color: gray;
  }

  a.grey {
    color: grey;
    margin-right: 5px;
  }

  a.black {
    color: black;
  }

  ul.breadcrumb {
    padding: 20px 56px;
    list-style: none;
    background-color: white;
    direction: rtl;

  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
  }

  ul.breadcrumb li a {
    text-decoration: none;
  }
  .form-group{
    display:inline-block;

  }
  .form-group-odd
  {
    display: block;
    width: 10%;
  }

</style>
<div class="container-fluid box mt-4 box" dir="rtl">
  <br>
  <br>
  <div class="in text-center">
      
      <form [formGroup]="exform" class="form">
        <div class="grid2">
          <div class="grid_item">
          <label class="label">اسم الموكل </label> 
        <input [(ngModel)]="procuration.client_name" formControlName="client_name" type="text" class="form-control" >
      
      </div>
      <div  class="grid_item">
        <label class="label"> السنة   </label> 
        <input [(ngModel)]="procuration.year" formControlName="year" type="number" class="form-controll"  min="2000" max="2022" >
       </div>
      <div class="grid_item">
        <label class="label"> رقم التوكيل   </label>
        <input [(ngModel)]="procuration.procuration_number" formControlName="procuration_number" type="number" class="form-control"  min="1">
       </div>
      <div class="grid_item">
        <label class="label"> مكتب التوثيق </label>
        <input [(ngModel)]="procuration.office" formControlName="office" type="text" class="form-control" >
        </div>
      <div class="grid_item">
        <label class="label"> رقم التوكيل بالمكتب </label>
        <input [(ngModel)]="procuration.office_procuration_number" formControlName="office_procuration_number" type="number" class="form-control"  min="1"  >
        </div>
      </div>
      </form>
      <br>
      <label class="error" [hidden]="!exform.invalid">يرجي ادخال البيانات كاملة</label>
      <br>
  </div>
</div>


<button class="btn m-2 px-4 ignorebtn"  [routerLink]="['/procuration']">تجاهل</button>

<button class="btn m-2 px-4 savebtn" (click)="onSave()"  [disabled]="exform.invalid" type="button" >حفظ</button>
