/* Shadowing the main container  */

#mainContractContainer {
  background: #FFFFFF;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 95%;
  margin: auto;
  min-height: 80vh;
}

/*  */


/* Container Div For Dates  */

.editBtnsContainer {
  width: 95%;
}

#edit {
  background: #f2d010;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: 0px;
color: black;
width: 10%;
}

#cancel {
  background: #F44336;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: 0px;
color: white;
width: 8%;
}

#save {
  background: #01C165;
box-shadow: 0px 4px 4px Fmrgba(0, 0, 0, 0.25);
border-radius: 10px;
border: 0px;
color: white;
width: 8%;
margin-right: 10px;
}

#cancelContract {
  background: #F44336;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0px;
  color: white;
  width: 8%;
}
/*  */

legend {
  text-align: right;
  margin-right: 24px;
  padding-bottom: 6px;
}

legend:hover   {
  cursor: pointer;
}

.fieldset-border {
  border: 1px solid black !important  ;
  border-radius: 20px;
}

.legend-hide {
  display: none;
}

fieldset {
  width: 95%;
  position: relative;
}



mat-form-field {
  text-align: right
}

h4 {
  font-size: 16px;
  font-weight: 900;
}

mat-select {
  text-align: center;
  border-radius: 20px;
}

mat-option {
  text-align: right;
}




::ng-deep .mat-form-field-label {
  color: black  !important;
  font-size: 18px !important;
  font-weight: 900;
}



::ng-deep .mat-select-value-text  {
  color: black;
  font-weight: 800;
}



input::placeholder {
  color: black;
  font-size: 18px;
}


mat-datepicker {
  font-size: 18px;;
}

.state{
  width: 132px;
  height: 33px;
  color: white;
  margin: auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  filter: drop-shadow(0px 4px 4px rgba(203, 203, 203, 0.45));
}

.greenClass{
  background-color: #01C165;
}
.redClass{
  background-color: #AE0C00;
}
.orangeClass{
  background-color: #F76000;
}

.print-btn {
  background-color: red;
  margin-top: 20px;
  float: right;
  margin-right: 50px;
  margin-bottom: 20px;
  border: 0px ;
  border-radius: 15px;
  padding: 7px 15px;
  font-weight: 900;
  font-size: 20px;
  color: white;
  transition: 0.3s ease-in;
}


.back-btn {
  border: 1px solid #f2d010;
  margin-top: 20px;
  float: left;
  background-color: white;
  color: black;
  margin-left: 50px;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 5px 15px;
  font-weight: 900;
  font-size: 20px;
  transition: 0.3s ease-in;
}

.back-btn:hover {
  background-color: #f2d010;
}

.print-btn:hover {
  background-color: #AE0C00;
}

#contractInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px 40px;
  grid-gap: 30px;
  direction: rtl;
}



#contractInfo mat-form-field {
  width: 50%;
}

#branchInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px 40px;
  grid-gap: 30px;
  direction: rtl;
}


#containerDiv {
  display: grid;
  direction: rtl;
  grid-template-columns: 1fr 1fr;
  padding: 5px 40px;
  grid-gap: 30px;
  margin-bottom: 30px;
  grid-row-gap: 30px;
}

.download-btn {
  padding: 5px 15px;;
  margin: 15px 25px;
  float: right;
  background: #173156;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: 0px;
color: white;
width: 10%;
}

a {
  text-decoration: none;
  color: white;
}

#paragraph {
  padding: 20px;
  color: red;
}

.legend2 {
  float: left;
  position: absolute;
  left: 18px;
  background-color: white;
  top: -38px;
  padding-right: 3px;
  padding-left: 0px;
  border: 1px solid black;
}

.legend2 i {
  padding: 3px;

}

.legend2 i:hover {
  cursor: pointer;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: rgba(0,0,0,0.3) !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0,0,0,0.3) !important;
}
