/* Shadowing the main container  */

#mainContractContainer {
  background: #FFFFFF;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 95%;
  margin: auto;
  min-height: 110vh;
}

/*  */


/* Container Div For Dates  */
#containerDiv {
  float:right;
  display: grid;
  width: 60%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 600px;
  margin-bottom: 30px;
  grid-row-gap: 30px;
}

.editBtnsContainer {
  width: 95%;
}

#edit {
  background: #f2d010;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: 0px;
color: black;
width: 10%;
}

#cancel {
  background: #F44336;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: 0px;
color: white;
width: 8%;
}

#save {
  background: #01C165;
box-shadow: 0px 4px 4px Fmrgba(0, 0, 0, 0.25);
border-radius: 10px;
border: 0px;
color: white;
width: 8%;
margin-right: 10px;
}

#cancelContract {
  background: #F44336;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0px;
  color: white;
  width: 8%;
}
/*  */

legend {
  text-align: right;
  margin-right: 24px;
}

legend:hover   {
  cursor: pointer;
}

.fieldset-border {
  border: 1px solid black !important  ;
  border-radius: 20px;
}

.legend-hide {
  display: none;
}

fieldset {
  width: 95%;
}

mat-label {
  float: right;
  text-align: right;
  font-size: 20px;
  color: black ;
}

mat-form-field {
  text-align: right
}

h4 {
  font-size: 16px;
  font-weight: 900;
}

mat-select {
  text-align: center;
  float: right !important;
  border-radius: 20px;
}

mat-option {
  text-align: right;
}


/* Styling for dropdown */

::ng-deep #status .mat-select-value-text  {
  color: white;
  padding: 5px;
}

.activeContract {
  background-color: #01C165;
  color: white;
  font-weight: 900;
}

.warningContract {
  background-color: #AE0C00;
  color: white;
  font-weight: 900;
}

.stopContract {
  background-color: #F76000;
  font-weight: 900;
  color: white;
}

.activeContract:hover , .activeContract.mat-active{
  background-color: #02f37f !important;
  color: white;
  font-weight: 900;
}

.warningContract:hover, .warningContract.mat-active {
  background-color: #e20f00 !important;
  color: white;
  font-weight: 900;
}

.stopContract:hover, .stopContract.mat-active {
  background-color: #fa914f !important;
  font-weight: 900;
  color: white;
}
/*  */

/* Styling for Status */

.state{
  width: 132px;
  height: 33px;
  color: white;
  margin: auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  filter: drop-shadow(0px 4px 4px rgba(203, 203, 203, 0.45));
}

.greenClass{
  background-color: #01C165;
}
.redClass{
  background-color: #AE0C00;
}
.orangeClass{
  background-color: #F76000;
}

/*  */


/* Remove the inc/dec button */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
/*  */


input::placeholder {
  color: black;
  font-size: 18px;
}


mat-datepicker {
  font-size: 18px;;
}
