.box{
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.inner_box{
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
input{
  text-align: center;
  width: 30%;
  margin-bottom: 20px;
  padding: 12px 20px;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  color: black;
  display: inline;
}

.form fieldset {
  background-color: #FFFFFF;
}

.form legend {
  background-color: #FFFFFF;
  color: black;
  font-size: 16px;
  padding: 5px 10px;
}

small
{
  text-align: center;
  width: 30%;
  margin-bottom: 20px;
  padding: 12px 20px;
  margin-right: 20px;

}
.form-control.ng-touched.ng-invalid{
  border: 1px solid red;

}

.pdfbtn{
  text-align: center;
  width: 30%;
  margin-bottom: 20px;
  padding: 12px 20px;
  margin-right: 20px;
  border: 2px dashed #e7e6e6;
  border-radius: 6px;
  color: #a56868;
  background: rgba(217, 217, 217, 0.2);
}
table {
  width: 90%;
  background: #FFFFFF;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left: 46px;

}
th, td {
  padding: 15px;
  text-align: right;



}
tr:nth-child(even) {background-color: #f2f2f2;}

td.mat-cell {
  /* row padding */
  padding: 16px 0;
  /* row border */
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

td.mat-cell:first-child {
  /* row border */
  border-left: 1px solid gray;
}

td.mat-cell:last-child {
  /* row border */
  border-right: 1px solid gray;
}

table {
  /* row spacing / margin */
  border-spacing: 0 8px !important;
}
.savebtn{
  background-color: #01C165;
  padding: 12px 0px ;
  color: white;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.ignorebtn{
  background-color: #F44336;
  padding: 12px 0px ;
  color: white;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.tablebtn{
  background-color: navy;
  padding: 12px 0px ;
  color: white;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.sessionbtn{
  background-color: navy;
  padding: 12px 0px ;
  color: white;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
