<ul class="breadcrumb">
  <i class="fa fa-home" ></i>
  <li><a class="grey" href="#">الرئيسيه</a></li>
  <li><a class="grey" href="#" >التوكيلات والقضايا</a></li>
  <li><a class="grey"  [routerLink]="['/case']" >القضايا </a></li>
  <li><a class="black"  >#{{case.idCase}}  </a></li>

</ul>

<style>
  .fa {
    margin-top: 5px;
    margin-right: -10px;
    color: gray;
  }

  a.grey {
    color: grey;
    margin-right: 5px;
  }

  a.black {
    color: black;
  }

  ul.breadcrumb {
    padding: 20px 56px;
    list-style: none;
    background-color: white;
    direction: rtl;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
  }

  ul.breadcrumb li a {
    text-decoration: none;
  }

</style>
<div class="in text-center">
  <button class="btn m-5 px-4 tablebtn " (click)="toggle()" *ngIf='!caseFlag'>القضية</button>
  <button class="btn m-5 px-4 tablebtn " (click)="toggle()" *ngIf='caseFlag'>الجلسات</button>
  </div>
<div *ngIf="caseFlag" class="container-fluid box mt-4 box" dir="rtl">
  <div class="in text-center">
      <br>
    <form [formGroup]="exform" class="form">
      <div class="grid2">
        <div class="grid_item">
        <label class="label">اسم الموكل </label> 
        <input [(ngModel)]="case.client" formControlName="client"  type="text" class="form-control">

    </div>
    <div  class="grid_item">
      <label class="label"> اسم الخصم  </label> 
      <input [(ngModel)]="case.against" formControlName="against" type="text" class="form-control" >
</div>
    <div class="grid_item">
      <label class="label"> نوع القضية   </label>
      <input [(ngModel)]="case.category" formControlName="category" type="text" class="form-control" >
</div>
    <div class="grid_item">
      <label class="label"> رقم القضية </label>
      <input [(ngModel)]="case.numbercase" formControlName="numbercase" type="number" class="form-control"  min="1">
    </div>
    <div class="grid_item">
      <label class="label">السنة </label>
      <input [(ngModel)]="case.caseyear" formControlName="caseyear" type="number" class="form-controll" min="2000" >
    </div>
    <div class="grid_item">
      <label class="label"> رقم الملف</label>
      <input [(ngModel)]="case.filenumber" formControlName="filenumber" class="form-control"  type="number"  min="1">
    </div>
    <div class="grid_item">
      <label class="label">الدائرة </label>
      <input [(ngModel)]="case.area" formControlName="area"  type="text" >
    </div>
    <div class="grid_item">
      <label class="label">صفة الموكل</label>
      <input [(ngModel)]="case.clientstat" formControlName="clientstat" type="text"  >
    </div>
    <div class="grid_item">
      <label class="label">صفة الخصم </label>
      <input [(ngModel)]="case.againststat" formControlName="againststat" type="text"  >

    </div>
    </div>
    </form>
    <br>
    <label class="error" [hidden]="!exform.invalid">يرجي ادخال البيانات كاملة</label>
    <br>
          <br>
        </div>
        <div class="in text-center">
        <div class="container-fluid box mt-4 box" dir="rtl">
            
          <label for="file-upload" class="custom-file-upload">
            <i class="fas fa-file-pdf"></i>
        
        </label>
         <input id="file-upload" type="file"  accept="application/pdf" (change)="onChange($event)" multiple>  
        
         <button [hidden]="!this.case.hasAttachment" class="btn m-5 px-4 savebtn"> <a [href]="downloadUrl"> تحميل الملفات</a></button>
         <div class="grid">
         <div *ngFor="let document of documentList; let i = index">
        
        <div class="pdf-file-div">
          <i class="fa-solid fa-file-pdf " id="pdf">
            <i class="fa-solid fa-x" id="pdf-x" (click)="remove(i)">
             
            </i>
          </i>
          <p>{{document.name}}</p>
        </div>
        </div>
      </div>
        </div>
        <br>
        </div>
        
            </div>

<div *ngIf="!caseFlag" class="container-fluid box mt-4 box" dir="rtl">
  <div class="in text-center">

    <table mat-table [dataSource]="sessions" #table  class="mat-elevation-z8 mt-5 text-center" dir="rtl">

      <ng-container matColumnDef="تاريخ الجلسة الحاليه ">
        <th mat-header-cell *matHeaderCellDef class="text-center">تاريخ الجلسة الحاليه </th>
        <td mat-cell *matCellDef="let element">{{element.startingDate | date:"yyyy//MM/dd"}}</td>
      </ng-container>

      <ng-container matColumnDef="قرار الجلسة الحاليه ">
        <th mat-header-cell *matHeaderCellDef class="text-center">قرار الجلسة الحاليه </th>
        <td mat-cell *matCellDef="let element"> {{element.decisionStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="تاريخ الجلسة القادمه" >
        <th mat-header-cell *matHeaderCellDef class="text-center">تاريخ الجلسة القادمه</th>
        <td mat-cell *matCellDef="let element"> {{element.endingDate | date:"yyyy//MM/dd"}} </td>
      </ng-container>

      <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let index = index;"[ngClass]="{alternate: index % 2 == 0 }" ></tr>

    </table>
    <button (click)="addRow(table)" class="btn m-5 px-4 sessionbtn " [routerLink]="['/session', case.idCase]">اضافة جلسة</button>

  </div>
</div>
<br>

<button (click)="onSave()" class="btn m-5 px-4 savebtn" [disabled]="exform.invalid" [hidden]="!caseFlag">حفظ</button>
<button class="btn m-5 px-4 ignorebtn"  [routerLink]="['/case']" [hidden]="!caseFlag">  تجاهل</button>